.forget_in_section{ margin: 0 auto;
    max-width: 100%;
    min-height: 450px;
    width: 550px;}
.forget_in_section .form_block .input{padding-bottom: 10px;
    line-height: 30px;
    padding-left: 40px;
    position: relative;
    border-radius: 0;
    box-shadow: none;
    font-family: 'robotoregular';
    font-size: 18px;
    color: #808080;
height: auto; border:1px solid #b0b0b0; border-radius:4px; background-color:#f9fdff;}
.forget_in_section .create_account{margin-bottom:20px;}
.forget_in_section span.input_img.envelope{left:25px; color:#777;}
.forget_in_section .form_block .input:focus{border:1px solid #b0b0b0;}
.log_btn.forgot{margin:0px 0px 15px 0px;}
.password{padding:40px; width:100%; float:left;}
.forget_in_section span.input_img.envelope.img{margin-top:7px;}
.forget_in_section .log_in_form{padding:14px;}
/**end forgot and changepassword**/
@media only screen and (max-width: 768px) {
	.password{padding:0px;}
}