  
    <div id="login">
      <div class="container">
        <div class="log_in_form_section">
           <div class="forget_in_section">
            <div class="log_in_form">
              <div class="col-xs-12 form_block">
                <form class="" method="post" #loginForm="ngForm">
                  <h1 class="col-xs-12">RESET PASSWORD</h1>
                       <!-- <p class="create_account"></p> -->
             <div class="password">
                  <div class="col-xs-12 form-group">
                    <span class="input_img envelope"><i class="fa fa-key"></i></span>
                    <input type="password" required  
                    class="input form-control" name="password"  #password="ngModel"  [(ngModel)]="user.newPassword" placeholder="New Password">
                     <div [hidden]="password.valid || password.pristine"
                    style="color:red">
                 <div [hidden]="!password.hasError('required')">New Password is required</div>
               </div>
                  
                  </div>
                  <div class="col-xs-12 form-group">
                    <span class="input_img envelope"><i class="fa fa-key"></i></span>
                    <input type="password" required  
                     class="input form-control" name="confirmpassword"  #confirmpassword="ngModel" [pattern]="user.newPassword"  [(ngModel)]="user.confirmPassword" placeholder="Confirm Password">
                    <div [hidden]="confirmpassword.valid || confirmpassword.pristine"
                    style="color:red">
                 <div [hidden]="!confirmpassword.hasError('required')">Confirm Password is required</div>
               </div>
               <div *ngIf="confirmpassword.errors?.pattern" style="color:red"> 
                Password and Confirm password should be the same                
             </div> 
                  
                  </div>
          <div class="col-xs-12 log_btn forgot">
                    <button type="submit" class="col-xs-12 btn btnLogIn" (click) ="reset(user.newPassword)" [disabled]="!loginForm.form.valid">SUBMIT</button>
                  </div>
                  </div>
                  <div [hidden] ="!status" style="color:red"> <p>{{result}} </p></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 

