<app-it-header></app-it-header>
<app-it-side-bar></app-it-side-bar>    
    <!-- Content Wrapper. Contains page content -->
    <div class="It_admin_center">      
       <div class="row">
     <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
     <h2> Dashboard</h2>    
     <ul class="breadcrumb">
    <li><a >Home</a></li>
    <li><a >Dashboard</a></li>
   
  </ul>
   
  </div>
  </div> 
      
      <div class="section1">
      
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
         <div class="part1">
            <div class="iconimage">
               <img src="../assets/images/IT-Admin-images/1.png" class="center-block"/>
            </div>
            <div class="text">
              <h1>{{OrgAdminCount.length}} </h1>
              <p> Total Org Admin</p>
            </div>
            </div>
         </div>
         
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
         <div class="part1">
            <div class="iconimage1">
               <img src="../assets/images/IT-Admin-images/1.png"/>
            </div>
            <div class="text">
              <h1>{{ITAdminList.length}} </h1>
              <p> Total IT Admin</p>
            </div>
            </div>
         </div>
         
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
         <div class="part1">
            <div class="iconimage2">
               <img src="../assets/images/IT-Admin-images/1.png"/>
            </div>
            <div class="text">
              <h1>{{usersCount.length}} </h1>
              <p> Total Users</p>
            </div>
            </div>
         </div>
         
         
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
         <div class="part1">
            <div class="iconimage3">
               <img src="../assets/images/IT-Admin-images/3.png"/>
            </div>
            <div class="text">
              <h1>{{TempaltesCount}}</h1>
              <p> Assigned Templates</p>
            </div>
            </div>
         </div>
  
  </div>

  
      
      
    
      
    </div>
    <app-it-footer></app-it-footer>
  
