
<div class="preloader" *ngIf="showloader">
        <div class="preloader-img">
    <img src="../assets/images/preloader.gif">
          </div>
    </div>
    

    <!-- Main Header -->
    <app-super-admin-header></app-super-admin-header>
   
        <!-- Left side column. contains the logo and sidebar -->
        <app-super-admin-sidebar></app-super-admin-sidebar>
 
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 head_title super_top_space">
        </div>
        
       
               
        
            <div class="super_admin_center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2> User</h2>
                    <ul class="breadcrumb">
                        <li><a>Home</a></li>
                        <li><a>Add User</a></li>
                    </ul>
                </div>

                <div class="add_user">
                    <div class="row">
                        <form action="" method="post" #testForm="ngForm">
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Name
                                        <span style=color:red>*</span>
                                    </label>
                                    <input type="text" required #username="ngModel" class="form-control" id="username" name="username" [(ngModel)]="user.userName">
                                    <div [hidden]="username.valid || username.pristine" style="color:red">
                                        <p [hidden]="!username.hasError('required')">Name is required</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Email Id
                                        <span style=color:red>*</span>
                                    </label>
                                    <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required #emailid="ngModel" class="form-control"
                                        id="emailid" name="emailid" [(ngModel)]="user.emailId">
                                    <div [hidden]="emailid.valid || emailid.pristine" style="color:red">
                                        <p [hidden]="!emailid.hasError('required')">emailid is required</p>
                                        <div [hidden]="!emailid.hasError('pattern')">Email format should be
                                            <small>
                                                <b>joe@abc.com</b>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Role
                                        <span style=color:red>*</span>
                                    </label>
                                    <select name="role" required #role="ngModel" [(ngModel)]="user.role" class="form-control" >
                                        <option [ngValue]="SelectRole">Select a Role</option>
                                        <option *ngFor="let roles of role_list | orderBy : 'roleName'" [(ngValue)]="roles.roleId">{{roles.roleName}}</option>
                                    </select>
                                    <div [hidden]="role.valid || role.pristine" style="color:red">
                                        <p [hidden]="!role.hasError('required')">role is required</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" [hidden]="organizationShow">
                                <div class="form-group">
                                    <label>Organization</label>
                                    <select class="form-control" required #Orgid="ngModel" name="Orgid" [(ngModel)]="user.OrganizationId" >
                                        <option [ngValue]="SelectRole">Select an Organization</option>
                                        <option *ngFor="let organization of organization_list" [(ngValue)]="organization._id">{{organization.organizationName }}</option>
                                    </select>
                                    <div [hidden]="Orgid.valid || Orgid.pristine" style="color:red">
                                        <p [hidden]="!Orgid.hasError('required')">Organization is required</p>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" [hidden]="organizationShow">
                                <div class="form-group">
                                    <label>Organization</label>
                                    <select class="form-control"   name="Orgid" [(ngModel)]="user.OrganizationId" >
                                        <option [ngValue]="SelectRole">Select an Organization</option>
                                        <option *ngFor="let organization of organization_list | orderBy : 'organizationName'" [(ngValue)]="organization._id">{{organization.organizationName }}</option>
                                    </select>
                                    <!-- <div [hidden]="Orgid.valid || Orgid.pristine" style="color:red">
                                        <p [hidden]="!Orgid.hasError('required')">Organization is required</p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label for="mobile">Phone
                                       
                                    </label>
                                    <input type="text"  #mobileno="ngModel" class="form-control" id="mobileno" name="mobileno" [(ngModel)]="user.mobile"                  pattern="[0-9]*"
                                    minlength="10"
                                    maxlength="15">
                  
                                  </div>
                                  <div [hidden]="mobileno.valid || mobileno.pristine" style="color:red">
                                    <div [hidden]="!mobileno.hasError('minlength')">Phone Number should be Min 10 digit</div>
                                    <div [hidden]="!mobileno.hasError('pattern')">Phone Number number should be only numbers</div>
                                </div>
                            </div>
                          
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center above">
                                <div class="form-group">
                                    <button type="submit" *ngIf="!status" (click)="addUser()" [disabled]="!testForm.form.valid" class="btn btn-success">Add User</button>
                                    <button type="submit" *ngIf="status" (click)="editUser();" class="btn btn-success">Update</button>
                                    <button type="submit" (click)="resetForm()" class="btn btn-success">Reset</button>
                                    <button type="submit" (click)="goToUser();" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /footer -->
                <!-- /.content-wrapper -->
            </div>
       
        <app-super-admin-footer></app-super-admin-footer>
   