.nav>li>a{padding:0px;}
ul.dropdown-menu.settings-menu{width:170px;}
.icon_right{margin-right:3%;}.super_top_space{margin-top:52px!important;}
.sidebar-menu{margin-top:0px!important;}
.main-sidebar, .left-side{padding-top:52px!important;}