<header class="super_head">  
  <div class="super_left">
  <a>
  <div class="logo-lg"><span> <i class="fa fa-reorder"></i></span>
      <label>Dynamic</label> Dashboard</div>
  </a></div>
  <!-- Header Navbar -->
  <div class="super_right">  
  
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu icon_right" id="Super_right_icon">
      <ul class="nav navbar-nav">
    
      <li class="dropdown notifications-menu ">
          <a  class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-gear"></i>
          </a>
          <ul class="dropdown-menu settings-menu">
            <li>
              <!-- inner menu: contains the actual data -->
              <ul class="menu">
                <li>
                  <a (click)="logout()"  style="cursor: pointer;">
                    <i class="fa fa-power-off text-aqua"></i> Logout
                  </a>
                </li>
                <!-- <li>
                  <a>
                    <i class="fa fa-user text-aqua"></i> Profile
                  </a>
                </li> -->
                 </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
 </div>
</header>

