div#rgt_change{width: 80%; margin-top:70px; background-color:#f4f7fa; padding: 20px;
  float: right;}.btnpass{width:auto; }
  .rgt_corner{top:65px;}.form-control{height:44px; border-radius:4px;}.create_account{text-align: left;margin:20px 5px;}
.text1 h3{color:#fff; font-weight: bold;}