<app-dashboard-header></app-dashboard-header>
<div id="wrapper">

  <app-dashboard-sidebar></app-dashboard-sidebar>
  <div id="rgt_change">
    <h1>Change Password</h1>
    <p class="create_account">
        <b>Note:</b> You can't reuse your old password once you change it</p>
          
              <form class="" method="post" #loginForm="ngForm">
            
             
             
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                    <div class="form-group">
                    <label> Enter Current Password </label>
                    <input type="text" required class="input form-control" #oldPassword="ngModel" [(ngModel)]="resetpassword.oldPassword" name="oldPassword"
                    >
                    <div [hidden]="oldPassword.valid || oldPassword.pristine" style="color:red">
                      <div [hidden]="!oldPassword.hasError('required')">password is required</div>

                    </div>
                  </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                      <div class="form-group">
                          <label> Enter New Password </label>
                    <input type="password" class="input form-control" #newPassword="ngModel" name="newPassword" [(ngModel)]="resetpassword.newPassword"
                      placeholder="Enter New Password">
                    <div [hidden]="newPassword.valid || newPassword.pristine" style="color:red">
                      <div [hidden]="!newPassword.hasError('required')">password is required</div>

                    </div>
                  </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                  <div class="form-group">
                      <label> Re-Enter New Password </label>
                    <!-- <input type="text" class="input form-control" name="username" [(ngModel)]="resetpassword.confirmNewPassword" placeholder="Re-enter New Password">
              -->
                    <input type="password" required class="input form-control" name="confirmpassword" #confirmpassword="ngModel" [pattern]="resetpassword.newPassword"
                      [(ngModel)]="resetpassword.confirmNewPassword" placeholder="Re-enter New Password">
                    <div [hidden]="confirmpassword.valid || confirmpassword.pristine" style="color:red">
                      <div [hidden]="!confirmpassword.hasError('required')">Confirm Password is required</div>
                    </div>
                    <div *ngIf="confirmpassword.errors?.pattern" style="color:red">
                      Password and Confirm password should be the same
                    </div>
                  </div>
                </div>

                  <div class="form-group text-center">
                    <button class="btn btn-success" (click)="submitPassword(resetpassword)" [disabled]="!loginForm.form.valid">UPDATE</button>
                  </div>
               

              </form>
            </div>
            <div class="super_foot">
                <div class="footer">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                     <p> Copyrights@2018 | Dynamic Dashboard</p>
                  </div>
                </div>
                </div>