
.rgt_side{background:#f4f7fa; float:left; padding:0px;display: table; height: 200px;}

  
  .rgt_corner{width: 22%;}
 
 
.rgt_corner{padding: 0;}

.rgt_corner{position: fixed; top:8%; width:24%;}
.rgt_side{width: 79%;background-color: #f4f7fa; padding:30px; float: right!important;
    margin-top: 90px;} 
.form-control[disabled], fieldset[disabled] .form-control{height:44px!important;border-radius: 4px; }
.create_user .form-control{height:44px!important;border-radius: 4px;}.text1 h3{color:#fff;}