
    <!-- <div id="login">
      <div class="container">
        <div class="log_in_form_section">
          <h2 class="header_logo"><span class="dynamic">DYNAMIC</span>DASHBOARD</h2>
          <div class="log_in_section">
            <div class="log_in_form">
              <div class="col-xs-12 form_block">
                <form class="" method="post" #loginForm="ngForm">
                  <h1 class="col-xs-12">FORGOT PASSWORD</h1>
                  <div class="col-xs-12  form-group">
                    <span class="input_img"><i class="fa fa-envelope"></i></span>
                    <input type="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                    #email="ngModel" class="input form-control" name="email" [(ngModel)]="user.emailId" placeholder="Email Address">
                    <div [hidden]="email.valid || email.pristine"
                    style="color:red">
                 <div [hidden]="!email.hasError('required')">Email is required</div>
                 <div [hidden]="!email.hasError('pattern')">Email format should be <small><b>joe@abc.com</b></small></div>
               </div>
                  </div>             


                  <div class="log_btn">
                    <button type="submit" class="col-xs-12 btn btnLogIn" (click) ="submitEmail()" [disabled]="!loginForm.form.valid">SUBMIT</button>
                  </div>
                   <div [hidden] ="!status" style="color:red"> <p>{{result}} </p></div>
                 
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->



  
        <div id="login">
          <div class="container">
            <div class="log_in_form_section">
               <div class="forget_in_section">
                <div class="log_in_form">
                  <div class="col-xs-12 form_block">
                    <form class="" method="post" #loginForm="ngForm">
                      <h1 class="col-xs-12">FORGOT PASSWORD</h1>
                           <p class="create_account">Enter Your E-mail address below to rest your password</p>
                 <div class="password">
                      <div class="col-xs-12 form-group">
                        <span class="input_img envelope"><i class="fa fa-envelope-o"></i></span>
                        <input type="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
                        #email="ngModel" class="input form-control" name="email" [(ngModel)]="user.emailId" placeholder="Email Address">
                        <div [hidden]="email.valid || email.pristine"
                        style="color:red">
                     <div [hidden]="!email.hasError('required')">Email is required</div>
                     <div [hidden]="!email.hasError('pattern')">Email format should be <small><b>joe@abc.com</b></small></div>
                   </div>
                      
                      </div>
              <div class="col-xs-12 log_btn forgot">
                        <button type="submit" class="col-xs-12 btn btnLogIn" (click) ="submitEmail()" [disabled]="!loginForm.form.valid">RESET</button>
                      </div>
                      </div>
                      <div [hidden] ="!status" style="color:red"> <p>{{result}} </p></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     
    
    