
.img-none div img{display: none!important;}

.type-none{
    padding: 10px;
    background-color: #fcfcfc;
}

.boxclose{
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    cursor: pointer;
    margin-right: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
}

  .boxmodal  {
    /* border: 2px solid #333;
    border-radius: 8px; */
    
}

.chartjs-render-monitor{
    display: none;
}

.column-color{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: rgba(68, 71, 101, 1);
}